body {
  background: lightcyan;
  margin: 0;
  overflow: scroll;
  font-size: 3vw;
}

strong {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  color: rgb(58, 58, 116);
}

#body {
  margin: 0 auto;
  margin-left: 25%;
  margin-right: 25%;
}

nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-style: italic;
  font-size: 3vw;
  color: rgb(58, 58, 116);
}

input {
  background: transparent;
  width: 15vw;
  /* height: 5vw; */
  font-size: 1.5vw;
}

#container {
  width: 100%;
}

.year {
  display: flex;
  overflow: scroll;
}

.week {
  height: 10px;
  width: calc(100vw / 52);
  background: lightyellow;
  border: 1px solid;
  /* margin: 1px; */
}

.past {
  background: red;
}
